@model MvcAppBaggage.Models.PassengerClass

@{
    ViewBag.Title = "Index";
}


<h2>Baggage Information:</h2>
<table>
    <tr>
        <td>Bag Tag Number:</td>
        <td>@Model.bagTagNumber</td>
    </tr>
    <tr>
        <td>Last Scan Date:</td>
        <td>@Model.lastScanDate</td>
    </tr>
    <tr>
        <td>Bag Status:</td>
        <td>@Model.bagStatus</td>
    </tr>
</table>
<h2>Flight Information:</h2>
<table>
    <tr>
        <td>Airline:</td>
        <td>@Model.airline

        </td>
    </tr>
    <tr>
        <td>Flight Number:</td>
        <td>@Model.flightNumber</td>
    </tr>
    <tr>
        <td>Departure Time:</td>
        <td>@Model.departureTime</td>
    </tr>
    <tr>
        <td>Departure Airport:</td>
        <td>@Model.departureAirport</td>
    </tr>
</table>

<h2>Passenger Information:</h2>
<table>
    <tr>
        <td>Passenger Name:</td>
        <td>@Model.passengerFirstName  @Model.passengerLastName</td>
    </tr>
    <tr>
        <td>Ship:</td>
        <td>@Model.shipName</td>

    </tr>
    <tr>
        <td>Cabin:</td>
        <td>@Model.cabin</td>
    </tr>
    <tr>
        <td>Return Date:</td>
        <td>@Model.returnDate</td>
    </tr>
</table>
